.clients {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  margin: 3rem;
  grid-column-gap: 2.5rem;
  grid-template-areas: "left right";
}
.clients-left {
  grid-area: left;
}
.clients-right {
  grid-area: right;
}
.clients-search {
  height: 6rem;
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.clients-search .search-input {
  outline: none;
  border: none;
  font-size: 2rem;
  width: 100%;
  margin-left: 2rem;
}
.clients-search img {
  padding-left: 2rem;
}
.clients-addbutton {
  background-color: var(--green);
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.clients-addbutton:hover {
  background-color: var(--white);
  color: var(--green);
}

.clients-header {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr 12rem;
}
.client-list-header {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  margin-top: 2rem;
  margin-left: 2rem;
}
.clients-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 2rem;
}
.clientItem-circle {
  background-color: var(--red);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-left: 2rem;

  margin-right: 2rem;
}
.clientItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  height: 6.2rem;

  background-color: var(--white);
}
.clientItem .clientItem-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.clientItem-actions img {
  margin-right: 1.5rem;
}
.client-overview {
  height: 100%;
  background-color: var(--white);

  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
}
.client-overview-background {
  position: absolute;
  background-color: var(--green);
  height: 18.3rem;
  width: 100%;
  overflow: none;
  z-index: 1;
  border-radius: 0.675rem;
}
.client-overview-circle {
  width: 20rem;
  height: 20rem;
  z-index: 10;
  border-radius: 50%;
  margin: 0 auto;

  background-color: rgb(255, 0, 157);
}
.client-overview-block {
  display: flex;
  flex-direction: column;
}
.client-overview .dob,
.client-overview .name {
  text-align: center;
  margin: 0 auto;
}
.client-overview .address {
  grid-area: address;
}
.client-overview .postal {
  grid-area: postal;
}
.client-overview .city {
  grid-area: city;
}
.client-overview .age {
  grid-area: age;
}
.client-overview-grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8rem 8rem 8rem;
  grid-template-areas:
    "address address"
    "postal city"
    "age age";
}
