.client-dashboard,
.client-edit,
.client-mealplan,
.client-progress {
  background-color: var(--ghost);
  padding: 1.5rem;

  overflow-y: hidden;
}
.header-date {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--darkblue);
}
.header-profile {
  width: 4.6rem;
  height: 4.6rem;
  background-color: var(--red);
  border-radius: 50%;
}
.client-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.client-dashboard-hero,
.client-edit-hero {
  font-size: 3.6rem;
  color: var(--darkblue);
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.client-dashboard-subtext,
.client-edit-subtext {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--green);
  margin-top: 1.4rem;
  line-height: 2.7rem;
}
.client-weight {
  background-color: var(--green);
  color: var(--white);
  padding: 2rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-top: 3.4rem;
}
.client-weight-input {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--ghost);
  border-bottom: 0.2rem solid var(--white);
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--green);
  width: 6rem;
}
.client-weight-input::placeholder {
  color: var(--green);
}
.client-weight-button {
  float: right;
  color: var(--darkblue);
  background-color: var(--white);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
}
.client-questionnaire {
  background: var(--white);
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  padding: 2rem;
}
.questionnaire-component {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.questionnaire-component input {
  background-color: var(--grey);
  padding: none;
}
.questionnaire-component input[type="radio"]:checked {
  background-color: var(--green);
  color: var(--green);
}
.questionnaire-name {
  color: var(--darkblue);
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.2rem;
  margin-top: 1rem;
}
.questionnaire-ratings {
  color: var(--grey);
  font-weight: 500;
  font-size: 1.6rem;
}

.cravings div,
.energyDay div,
.energy div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.client-workout-title,
.client-mealplan-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--darkblue);
  margin-bottom: 1.7rem;
}
.dashboard-workout {
  background-color: var(--white);
  padding: 2rem;
  text-align: left;
  width: 100%;
}
.dashboard-workout {
  border-collapse: separate;
  border-spacing: 0.2rem 1rem;
}
.dashboard-workout .workout-name,
.dashboard-workout .smalltext {
  margin-bottom: 1rem;
}
.client-workout {
  margin-bottom: 4rem;
}
.client-workout {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
}
.dashboard-workout .workout-name {
  color: var(--green);
  font-weight: 500;
}
.dashboard-workout tr th {
  margin-bottom: 2rem !important;
}
.mealplan-box {
  background-color: var(--green);
  color: var(--white);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  width: 20rem;
  margin-right: 1rem;
}
.mealplan-calories {
  grid-column: 1/3;
  font-weight: 600;
  margin-bottom: 2rem;
}
.mealplan-macros {
  font-weight: 600;
  font-size: 1.6rem;
}
.mealplan-box .blue {
  color: var(--darkblue);
}
.mealplan-day {
  grid-column: 1/3;
  text-align: right;
  font-weight: 600;
}
.client-mealplan {
  overflow-x: visible;
}
.client-mealplan-carousel {
  display: flex;
  max-width: 800%;
  overflow-x: scroll;
}
.mealplan-box-inactive {
  background-color: var(--white);
}

.mealplan-box-inactive .mealplan-calories {
  color: var(--green);
}
.mealplan-box-inactive .mealplan-macros,
.mealplan-box-inactive .mealplan-day {
  color: var(--grey);
}
.mealplan-box-inactive .blue {
  color: var(--darkblue);
}
.disclaimer-coach {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--red);
}
.dashboard-diet-404 {
  background-color: var(--white);
  padding: 1rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--darkblue);
}
.dashboard-diet-404 p {
  width: 70%;
  text-align: center;
  line-height: 2.4rem;
}
.client-stats-information {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  width: 60%;
  grid-column-gap: 4rem;
}
.client-stats-information .weight,
.client-stats-information .totalcalories,
.client-stats-information .avgcals {
  color: var(--orange);
}
.client-stats-information .lastweight {
  color: var(--green);
}
.client-stats-information .lostgained {
  color: var(--red);
}
.client .client-stats-pics {
  grid-area: pics;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.client-weighins-pic {
  background-color: var(--lightgrey);
  width: 33%;
  height: 20rem;
}
.client .client-stats-pics .middle {
  margin-left: 1rem;
  margin-right: 1rem;
}
.client-button-workout {
  background-image: url("../assets/images/workout.png") !important;
  color: var(--white);
  background-size: cover;
}
.client-button-diet {
  background-image: url("../assets/images/diet.png") !important;
  color: var(--white);
  background-size: cover;
}
