.mealplan-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 3.3rem;
}
.mealplan-navigation p {
  width: 10rem;
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--darkblue);
}
.mealplan-navigation-hitbox {
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mealplan-name {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
  color: var(--green);
}
.mealplan-item-grid,
.mealplan-item-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1.5fr 1fr;
  grid-row-gap: 1rem;
  color: var(--darkblue);
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
}
.mealplan-item-grid {
  margin-bottom: 3rem;
  font-weight: 500;
}
.mealplan-item-header {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.mealplan-meal {
  margin-top: 2.6rem;
}
.mealplan-item-grid .smalltext {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}
.mealplan-item-notes {
  color: var(--grey) !important;
  font-size: 1.2rem;
  line-height: 1.8rem;
  grid-column: 1/5;
}
.mealplan-meal button {
  background-color: var(--green);
  color: var(--white);
  outline: none;
  border: none;
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.2rem 1.5rem;
}
.mealplan-meal-button-inactive {
  background-color: var(--lightgrey) !important;
  color: var(--darkblue) !important;
}
.client-mealplan .mealplan-meal-memo {
  grid-column: 2/5;
  text-align: right;
}
