.identifier {
  display: flex;
  align-items: center;
}
.identifier p {
  margin-left: 1rem;
  margin-right: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.form input {
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
  font-family: Poppins;
  border: none;
  border-bottom: 0.1rem solid var(--grey);
  color: var(--grey);
  outline: none;
  font-weight: 500;
  margin-bottom: 3rem;
}
.error {
  color: var(--red);
  margin-bottom: 1rem;
}
